<%= form_for(@quizz) do |f| %>
  <% if @quizz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quizz.errors.count, "error") %> prohibited this quizz from being saved:</h2>

      <ul>
      <% @quizz.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="font-weight: bold; font-size: small;">
    <%= f.label :question  %><br>
    <p style="padding-top: 5px;"><%= f.text_area :question,cols: 50, rows: 4 %></p>
  </div>
  <div class="field" style="font-weight: bold; font-size: small;">
    <%= f.label :ans1 %><br>
    <p style="padding-top: 5px;"><%= f.text_area :ans1,cols: 50, rows: 4 %></p>
  </div>
  <div class="field" style="font-weight: bold; font-size: small;">
    <%= f.label :ans2 %><br>
    <p style="padding-top: 5px;"><%= f.text_area :ans2,cols: 50, rows: 4 %></p>
  </div>
  <div class="field" style="font-weight: bold; font-size: small;">
    <%= f.label :ans3 %><br>
    <p style="padding-top: 5px;"><%= f.text_area :ans3,cols: 50, rows: 4 %></p>
  </div>
  <div class="field" style="font-weight: bold; font-size: small;">
    <%= f.label :ans4 %><br>
    <p style="padding-top: 5px;"><%= f.text_area :ans4,cols: 50, rows: 4 %></p>
  </div>
  <div class="field" style="font-weight: bold; font-size: small;">
    <%= f.label :correctans %><br>
    <p style="padding-top: 5px;"><%= f.number_field :correctans %></p>
  </div>
  <div class="actions">
    <%= f.submit %>

    </div>
<% end %>
